fastapi==0.117.1
huggingface_hub==0.31.2
langchain==0.3.27
langchain_chroma==0.2.6
langchain_community==0.3.30
langchain_core==0.3.76
langchain_groq==0.3.8
langchain_huggingface==0.3.1
langgraph==0.6.7
pydantic==2.11.9
python-dotenv==1.1.1
sentence_transformers==5.0.0
sqlmodel==0.0.25
transformers==4.53.2
